<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="jp.kght6123.smalllittleappviewer">
	
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!--uses-permission android:name="android.permission.BIND_APPWIDGET" /-->
	
	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:resizeableActivity="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		tools:ignore="GoogleAppIndexingWarning">
		
		<!-- android:configChangesは、自動のActivity破棄を停止し、自分で処理を記載可能にする（onConfigurationChangedメソッドをオーバーライド） -->
		<!-- android:windowSoftInputMode="adjustResize" キーボードが表示されたらアクティビティのサイズがキーボード分小さくなる -->
		<!-- android:windowSoftInputMode="stateAlwaysHidden" Activityのメインウィンドウに初期入力フォーカス時、ソフトウェアキーボードが常に隠れる -->
		<!-- android:noHistory -->
		<!--
		tools:ignoreは指定された lint の issue が無視
			tools:ignore="ExportedActivity"
		-->
		<!-- excludeFromRecentsは指定したActivityをRootにもつアプリを履歴（Recent Apps）に残さない -->
		<activity
			android:name=".MultiFloatWindowTestActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/app_name"
			android:noHistory="true"
			android:theme="@android:style/Theme.DeviceDefault.Light"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".MultiFloatWindowTestService"
			android:enabled="true"
			android:exported="false"
			android:process=":local"/>

		<service android:name=".MultiFloatWidgetTestService"
			android:enabled="true"
			android:exported="false"
			android:process=":local"/>

	</application>

</manifest>