<?xml version="1.0" encoding="utf-8"?>
<!--


 @author    kght6123
 @copyright 2017/05/09 Hirotaka Koga
 @license   http://www.apache.org/licenses/LICENSE-2.0 Apache-2.0
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="jp.kght6123.floating.window.framework"
	android:sharedUserId="jp.kght6123">

	<!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
	<!--<uses-permission android:name="android.permission.INTERNET" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
	<!--<uses-permission android:name="android.permission.BIND_APPWIDGET" />-->

	<uses-permission android:name="jp.kght6123.floating.window.core.manifest.permission.APPS" />

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_main_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:resizeableActivity="true"
		tools:ignore="GoogleAppIndexingWarning">

		<!-- android:configChangesは、自動のActivity破棄を停止し、自分で処理を記載可能にする（onConfigurationChangedメソッドをオーバーライド） -->
		<!-- android:windowSoftInputMode="adjustResize" キーボードが表示されたらアクティビティのサイズがキーボード分小さくなる -->
		<!-- android:windowSoftInputMode="stateAlwaysHidden" Activityのメインウィンドウに初期入力フォーカス時、ソフトウェアキーボードが常に隠れる -->
		<!-- android:noHistory -->
		<!--
		tools:ignoreは指定された lint の issue が無視
			tools:ignore="ExportedActivity"
		-->
		<!-- excludeFromRecentsは指定したActivityをRootにもつアプリを履歴（Recent Apps）に残さない
		<activity
			android:name=".MultiFloatWindowTestActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/app_name"
			android:noHistory="true"
			android:theme="@android:style/Theme.DeviceDefault.Light"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
			android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity> -->

		<service android:name="jp.kght6123.floating.window.framework.FloatWindowHelloApplication"
			android:label="@string/hello_app_name"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher">
			<intent-filter>
				<action android:name="jp.kght6123.floating.window.core.intent.action.MAIN" />
				<category android:name="jp.kght6123.floating.window.core.intent.category.LAUNCHER" />
			</intent-filter>
		</service>
	</application>

</manifest>